@model LogoModel
@using Nop.Web.Models.Common;
<a href="/home/index">
    @*<img title="" alt="@Model.StoreName" src="@Model.LogoPath">*@
  <img title="" alt="@Model.StoreName" src="http://www.hannaandersson.com/images/ha-large.png">
</a>